@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
*{
    box-sizing: border-box;
}
* {
    font-family: 'Work Sans', sans-serif;
}

.text-color-pink{
    color: #FF42A5;
}

header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
   



/* navbar styles starts here */

.nav-container{
    min-height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1400px;
  
}
.logo-container{
    display: flex;

    align-items: center;
    width: 50%;

}
.logo-container img{
    width:90px;
    object-fit: cover;
    margin-right: 20px;
}
.logo-container h2{
    font-size: 35px;
    font-weight: 700;
    
}


.nav-items-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    
}
.nav-items-container a{
     padding-left: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #3C354F;

}
.nav-items-container1{
 display: flex;
 border-radius: 8px;
 background: rgba(11, 2, 35, 0.10);
 width: 250px;
 height: 50px;
 align-items: center;
 margin-left: 20px;

}
.nav-items-container1 a img {
    object-fit: cover;
    width: 20px;
}
/* nav styles end here */

/* gamer section starts here */


.gamer-section{
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
    margin:20px auto;
    align-items: center;

}


.gamer-section-image{
    margin-left: 300px;
}


.section-content  h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    padding: 0px;
    
}
.section-content h1{
    font-size: 95px;
    font-weight: 800;
    bottom: 50px;
    position: relative;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.section-content ul{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    right: 50px;
    bottom: 90px;
    
}

.sign-in{
    border-radius: 48px;
    height: 60px;
    width: 130px;
    border: 0;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    bottom: 50px;
    
}

.go-rough{
    border-radius: 48px;
    height: 60px;
    width: 160px;
    border: 0;
    background: #4EC5F7;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    bottom: 50px;
    left: 15px;
}
.gamer-background-image{
    position: relative;
    bottom: 700px;
    left: 350px;
}
/* gamer section ends here */