@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
*{
    box-sizing: border-box;
}
* {
    font-family: 'Work Sans', sans-serif;
}

.text-color-pink{
    color: #FF42A5;
}

header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
body{
    margin: 0px;
}
   



/* navbar styles starts here */

.nav-container{
    min-height: 120px;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
   
  
}
.logo-container{
    display: flex;

    align-items: center;
    width: 50%;

}
.logo-container img{
    object-fit: cover;
    margin-right: 20px;
}
.logo-container h2{
    font-size: 2rem;
    font-weight: 700;
    
}


.nav-items-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    
    

    
}
.nav-items-container a{
     padding-left: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: #3C354F;

}
.nav-items-container1{
 display: flex;
 border-radius: 8px;
 background: rgba(11, 2, 35, 0.10);
 width: 250px;
 height: 50px;
 align-items: center;
 margin-left: 20px;

}
.nav-items-container1 a img {
    object-fit: cover;
    width: 20px;
}
/* nav styles end here */

/* gamer section starts here */


.gamer-section{
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    margin:80px auto;
    align-items: center;
    min-height: 700px;
    position: relative;
    

}
.section-content{
    width: 50%;
    position: relative;
    bottom: 10px;
}
.gamer-image-section{
    width:50% ;
  
    
}


.section-content{
    width: 100%;
}



.section-content  h2{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    padding: 0px;
    
}
.section-content h1{
    font-size: 6rem;
    font-weight: 800;
    bottom: 50px;
    position: relative;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.section-content p{
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    left: 20px;
    bottom: 90px;
    
}

.sign-in{
    border-radius: 48px;
    height: 60px;
    width: 130px;
    border: 0;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    bottom: 50px;
    
}

.go-rough{
    border-radius: 48px;
    height: 60px;
    width: 160px;
    border: 0;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    bottom: 50px;
    left: 180px;
}
.gamer-background-image{
    position: absolute;
    bottom: -110px;
    right: 140px;
    
}
/* gamer section ends here */


/*online games section start here */
.online-games-title h2, p{
    text-align: center;
}
.online-games-title h2{
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}
.online-games-title p{
    font-size: 1.2rem;
    color: #534C64;
    font-weight: 400;
}
.online-games-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.online-games-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px;
    margin:80px auto;
    gap: 30px;

}
.games-card{
    width: 100%;
}
.games-card-1{
    position: relative;
}

.watch-now-overlay{
    position: absolute;
    border-radius: 15px;
    top: 4px;
    left: 4px;
    width: 98%;
    height: 82.5%;
    background: rgba(0, 0, 0, 0.7);
    color:#FF42A5 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    gap: 20px;

}

/*online games section start here */

/*play instant section start here */
.play-instant-section{
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 80px auto;
    align-items: center;
    min-height: 700px;
}
.play-instant-content{
    width: 50%;
    padding-bottom: 300px;
    padding-right: 240px;
    
    
}
.play-instant-content h2 span{
    
    background: linear-gradient(180deg, #F948B2 200%, #8758F1 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-instant-content h2{
    font-size: 3rem;
    font-weight: 700;
    
}
.play-instant-content p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #534C64;
    text-align: left;

}

.play-instant-images{
    width: 50%;
}
.image-55{
    width: 100%;
    padding-left:120px ;
}
.image-66{
    width:40%;
    position: relative;
    bottom: 280px;
}

/*play instant section end here */

/* games section starts here */
.games-container{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    min-height: 200px;
    margin: 80px auto;
    align-content: center;
    align-items: center;
    flex-basis: 300px;
    flex-wrap: wrap;
    gap: 7px;
   
    
}
.games-option{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px ;

    width: 250px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    text-align: center;

    
}
.games-option img{
    object-fit: cover;
}
.games-option h3{
    font-size: 1.2rem;
    color: #0B0223;
    font-weight: 600;




}

/* games section ends here */

/* footer section starts here */
.last-section{
    background: #0B0223;
    height: 500px;
   
    text-align: center;
    
    
    
}
.footer-section{
    max-width: 1440px;
    margin: 20px auto;
}



.logo-container1{
    display: flex;
    padding-left:600px ;
    padding-top: 40px;

    align-items: center;
   
    }
.logo-container1 img{
    
margin-right: 25px;
}
.logo-container1 h2{
    font-size:2rem;
    font-weight: 700;


}
.footer-options{
    text-align: center;
    padding-top: 50px;
    
    
    
}
.footer-options a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 15px;

}

.social-images{

    padding-top:60px ;
}
.social-images img {
    margin-left: 25px ;
}

.footer-options1{
    padding-top: 60px;
}

.footer-options1 a{
    text-decoration: none;
    padding-left: 25px ;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;




}
small{
    color: rgba(255, 255, 255, 0.20);
    font-size: 0.8rem;
    font-weight: 500;

}


/* footer section ends here */


/* responsive styles for mobile */
@media screen and (max-width:576px) { 
 body{
   margin: 0px ;
 }
    .nav-container{
        
    flex-direction: column;
    padding: 20px;
    
    
    
}
.logo-container, .nav-items-container{
    width: 100%;
}
.logo-container{
    padding-left: 60px;
}

.nav-items-container{
    flex-direction: column;
    gap: 30px;
   padding-right: 15px;
    
    
    
}
.section-content{
    width: 100%;
}


.gamer-section{
    flex-direction: column;
    padding: 30px;
   
    
    
}

.section-content h2 {
    font-size: 1.2rem;
    padding-left: 65px;
    padding-bottom: 20px;
    

}
.section-content h1 {
    font-size: 2.5rem;
    padding-left: 65px;
    padding-bottom: 20px;
  
    

}
.section-content p{
   padding-left: 60px;
   font-size: 0.7rem;
   
    
}
.section-content ul ol{
    font-size:0.8rem ;
}
.gamer-image-section{
    width: 100%;
}

.gamer-section-image{
    width:100% ;
    
    
}
.sign-in{
    height: 30px;
    width: 70px;
    font-size: 10px;
    bottom: 80px;
    left: 60px;
    

}
.go-rough{
    height: 30px;
    width: 80px;
    font-size: 0.6rem;
    bottom: 80px;
    left: 150px;

}

.gamer-background-image{
    width:110% ;
    left: 10px;
    bottom: 30px;
    
 
    
}
.online-games-section{
    display: grid;
    grid-template-columns: repeat(1,1fr );
   padding: 30px;
}
.online-games-title{
    padding: 30px;
}

.online-games-title h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #0B0223;
}


.games-card img{ 
   width: 100%;
   
   
    
   
 
}
.games-card-1 img{ 
   width: 100%;
    
    
    
 
}
.watch-now-overlay{
    width: 98%;
    height: 87%;
   
    
}
.play-instant-section{
    flex-direction:column;
    padding: 30px;
  
 
 
    
    
    
}
.play-instant-content{
width: 100%;
text-align: center;
padding: 10px;
 
   
      
}
.play-instant-content h2{
    text-align: center;

    font-size: 2rem;

}
.play-instant-content p{
    font-size: 1rem;
    text-align: center;
}
.play-instant-images{
    margin-top: 30px;
    width: 100%;
}
    
.image-55{
    width: 80%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 70px;
    
   
}
.image-66{
    width: 40%;
    bottom:120px ;
    
    
  
}
    

.games-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    padding: 30px;
   
    
}
.games-option{
    width: 100px;
    height: 40px;
    
}

.games-option img{
    width: 30%;
}
.games-option h3{
    font-size: 0.7rem;
    

}
.last-section{
    padding: 20px;
    height: 550px;
}
.footer-section{
    width: 100%;
    
   
}
.logo-container1{

    padding: 20px ;
    margin-left:90px ;
    
    }
.logo-container1 img{
    width:20%;
    height: 30px;

}
.logo-container1 h2{
    font-size: 25px;
    font-weight: 700;


}
.footer-options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 15px;
    
    
    
}
.footer-options a{
    font-size: 12px;
   
}
.social-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-left: 35px;
}
.social-images{
    margin-left: 25px;


}
.social-images img{
    width: 30%;
    
}

.footer-options1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 10px;
    gap: 15px;

}
.footer-options1 a{
    font-size: 12px;
}
small{
    
    font-size: 10px;
     
}
}
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px){
 
   .nav-container{
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 50px;
    }

   .logo-container{
    padding-left: 220px;
    width: 100%;
   }
   .nav-items-container{
    margin-left: 10px;
    width: 100%;
   }
   .gamer-section{
    padding: 40px;
   }
   .gamer-section-image{
    width: 100%;
   }
   .section-content{
    width: 100%;
    padding-top: 80px;
   }
   .section-content h2{
    font-size:1.5rem ;

   }
   .section-content h1{
    font-size:3rem;

   }
   .section-content p{
   
    font-size: 0.6rem;
   }
   .sign-in{
    height: 30px;
    width: 70px;
    font-size: 10px;
    bottom: 80px;
    

}
.go-rough{
    height: 30px;
    width: 80px;
    font-size: 0.6rem;
    bottom: 80px;
    left: 90px;

}
.gamer-background-image{
    width:100% ;
    
   bottom: 0px;
    
}
.online-games-title h2{
    font-size: 2.5rem;
}
.online-games-section{
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 20px;
    
}
.games-card img{ 
    width: 80%;
    margin-left: 40px;
 
     
    
  
 }
 .games-card-1 img{ 
    width: 80%;
    margin-left: 40px;
    
 }
 .watch-now-overlay{
     width: 78%;
     height: 80%;
     margin-left: 40px;
 }
 .play-instant-section{
    flex-direction: column;
 }
 .play-instant-content{
    width: 100%;
    text-align: center;
    padding: 10px;}

    .play-instant-content h2{
        text-align: center;
    
        font-size: 3rem;
    
    }
    .play-instant-content p{
        font-size: 1rem;
        text-align: center;
    }
    .play-instant-images{
    
     margin-top: 70px;
    }
    .image-55{
        width: 150%;
        position: relative;
        right: 120px;
       
    }
    .image-66{
        width: 60%;
        top: -180px;
        left: -70px;
    }
    .games-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 30px;
    }
    .last-section{
        padding: 20px;
        
    }
    .logo-container1{
        padding: 20px;
        margin-left: 250px;
    }
    .games-option{
        width: 100%;
        
        
    }
    
    .games-option img{
        width: 20%;
    }
    .games-option h3{
        font-size: 1rem;}

}
