@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
*{
    box-sizing: border-box;
}
* {
    font-family: 'Work Sans', sans-serif;
}

.text-color-pink{
    color: #FF42A5;
}

header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
   



/* navbar styles starts here */

.nav-container{
    min-height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1400px;
  
}
.logo-container{
    display: flex;

    align-items: center;
    width: 50%;

}
.logo-container img{

    object-fit: cover;
    margin-right: 20px;
}
.logo-container h2{
    font-size: 35px;
    font-weight: 700;
    
}


.nav-items-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    
}
.nav-items-container a{
     padding-left: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #3C354F;

}
.nav-items-container1{
 display: flex;
 border-radius: 8px;
 background: rgba(11, 2, 35, 0.10);
 width: 250px;
 height: 50px;
 align-items: center;
 margin-left: 20px;

}
.nav-items-container1 a img {
    object-fit: cover;
    width: 20px;
}
/* nav styles end here */

/* gamer section starts here */


.gamer-section{
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
    margin:80px auto;
    align-items: center;
    min-height: 700px;
    position: relative;
    

}
.section-content{
    width: 50%;
    position: relative;
    bottom: 10px;
}
.gamer-image-section{
    width:50% ;
    
}





.section-content  h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    padding: 0px;
    
}
.section-content h1{
    font-size: 95px;
    font-weight: 800;
    bottom: 50px;
    position: relative;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.section-content ul{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    right: 50px;
    bottom: 90px;
    
}

.sign-in{
    border-radius: 48px;
    height: 60px;
    width: 130px;
    border: 0;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    bottom: 50px;
    
}

.go-rough{
    border-radius: 48px;
    height: 60px;
    width: 160px;
    border: 0;
    background: #4EC5F7;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    bottom: 50px;
    left: 180px;
}
.gamer-background-image{
    position: absolute;
    left: -250px;
    top: -80px;
   
    
}
/* gamer section ends here */


/*online games section start here */
.online-games-title{
    text-align: center;
}
.online-games-title h2{
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
}
.online-games-title p{
    font-size: 18px;
    color: #534C64;
    font-weight: 400;
}
.online-games-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.online-games-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1400px;
    margin:80px auto;
    gap: 30px;

}
.games-card{
    position: relative;
}

.watch-now-overlay{
    position: absolute;
    border-radius: 15px;
    top: 4px;
    left: 4px;
    width: 98%;
    height: 82.5%;
    background: rgba(0, 0, 0, 0.7);
    color:#FF42A5 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    gap: 20px;

}

/*online games section start here */

/*play instant section start here */
.play-instant-section{
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: 80px auto;
    align-items: center;
    min-height: 700px;
}
.play-instant-content{
    width: 50%;
    padding-bottom: 300px;
    padding-right: 120px;
    text-align: right;
    
}
.play-instant-content h2 span{
    
    background: linear-gradient(180deg, #F948B2 200%, #8758F1 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-instant-content h2{
    font-size: 48px;
    font-weight: 700;
}
.play-instant-content p{
    font-size: 18px;
    font-weight: 400;
    color: #534C64;




}
.play-instant-images{
    width: 50%;
}
.image-55{
    padding-left:120px ;
}
.image-66{
    position: relative;
    bottom: 280px;
}

/*play instant section end here */

/* games section starts here */
.games-container{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    min-height: 200px;
    margin: 80px auto;
    align-content: center;
    align-items: center;
    flex-basis: 300px;
    flex-wrap: wrap;
    gap: 20px;
   
    
}
.games-option{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px ;

    width: 250px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    text-align: center;

    
}
.games-option img{
    object-fit: cover;
}
.games-option h3{
    font-size: 20px;
    color: #0B0223;
    font-weight: 600;




}

/* games section ends here */

/* footer section starts here */
.last-section{
    background: #0B0223;
    height: 600px;
    text-align: center;
    
    
    
}
.footer-section{
    max-width: 1400px;
    margin: 80px auto;
}



.logo-container1{
    display: flex;
    padding-left:590px ;
    padding-top: 100px;

    align-items: center;
   
    }
.logo-container1 img{
    width:80px;
    height: 40px;
margin-right: 10px;
}
.logo-container1 h2{
    font-size: 45px;
    font-weight: 700;


}
.footer-options{
    text-align: center;
    padding-top: 50px;
    
    
}
.footer-options a{
    text-decoration: none;
    margin-left: 45px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;  
}

.social-images{

    padding-top:60px ;
}
.social-images img {
    margin-left: 25px ;
}

.footer-options1{
    padding-top: 60px;
}

.footer-options1 a{
    text-decoration: none;
    margin-left: 25px ;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;




}
small{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;

}




/* footer section ends here */


/* responsive styles for mobile and tablet */
@media screen and (max-width:400px) { 
 header{
    width: 400px;
 }
    .nav-container{
    flex-direction: column;
    max-width: 400px;
}
.logo-container{
padding-right: 220px;
}
.nav-items-container{
    flex-direction: column;
    padding-right:20px ;
    padding-top: 20px;
    gap: 30px;
}


.gamer-section{
    flex-direction: column;
    margin: 15px auto;
    
}
.section-content{
    width: 300px;
}
.section-content h2 {
    font-size: 20px;
    padding-left: 65px;
    

}
.section-content h1 {
    font-size: 40px;
    padding-left: 65px;
    padding-top:15px;
    

}
.section-content ul{
    font-size: 8px;
    position: relative;
    right: 5px;
    padding-top: 20px;
    
}

.gamer-image-section{
    padding-right: 290px;
}
.gamer-section-image{
    width:280px ;
    
}
.sign-in{
    height: 30px;
    width: 70px;
    font-size: 10px;
    bottom: 80px;
    left: 60px;
    

}
.go-rough{
    height: 30px;
    width: 80px;
    font-size: 10px;
    bottom: 80px;
    left: 140px;

}
.gamer-background-image{
    width: 350px;
    height: 300px;
    left: 5px;
    margin-top: 35px;
    
}

    
}




